@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #a7a7a7;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #d9d9d9;
}